.footer{
    bottom: 0;
    position: static;
    width: 100%; 

    color: rgb(255, 116, 116);
    background-image:linear-gradient( rgba(0, 0, 0, 0.079),rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.77), rgba(0, 0, 0, 0.079), rgba(0, 0, 0, 0.079),);
    padding: 7vh 0 7vh 0;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer h3{
    color: rgb(255, 220, 220);
    text-align: center;
    margin: 0;
    padding: 0;
    /* padding: 2vh;     */
}