.landingpage{
    position: absolute;
    top:0;
    bottom: 0;
    right:0;
    left:0;
    background-image: url("../../public/netflix-cover.jpg");
    width: 100%;
    overflow-y: scroll;
}
.landingpage::-webkit-scrollbar{
    display: none;
}

.compsholder{
    width: 100%;
    overflow-y:scroll;
    position: absolute;
    right:0;
    left:0;
    top:0;
    bottom: 0;
    
    background-image:linear-gradient(rgba(0, 0, 0, 0.77), rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.77), rgba(0, 0, 0, 0.77) );
}
