.moviesholder{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 5vh;
    margin: 0vh 4vw 5vh 4vw;
    padding: 0vh 4vw 10vh 4vw;
    color: white;
}

.moviesholder h3{
    border: 0;
    margin: 0;
    padding: 0 0 7vh 0;
}

.movieflex{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4vw;
    row-gap: 8vh;
    flex-wrap: wrap;
    height: 100%;
}